@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");


$primary: #45BCFF;
$primary_dark: #2b7faf;

$secondary: #F8FDFF;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #262626;
  background-color: $secondary;
  min-height: 100% !important;
  height: 100%;
  box-sizing: border-box;

  ::selection {
      color: white;
      background-color: $primary_dark;
  }
}

h1 { 
    font-size: 24px;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    font-weight: 500;

}


.card {
    border: 1px solid #e5e7eb;
    background-color: #ffffff;
    border-radius: 6px;
    // box-shadow: 2px 2px 15px -8px rgba(0, 0, 0, 0.2);
}
